<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/style.css" rel="stylesheet">
    <%- include ../partials/_bootstrap.ejs%>

    <title>Document</title>
</head>
<body>

<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <h3 class="masthead-brand" style="float: left; width: 125px; padding-right: 15px; color: whitesmoke;">GigLink</h3>
      <span class="navbar-toggler-icon" style="margin-top: 2.5px; color: whitesmoke;"></span>
    </button>
  </nav>
</div>





<div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
        <header class="masthead" >
            <div class="inner top">
                <h3 class="masthead-brand" style="float: left; width: 200px">GigLink</h3>
                <nav class="nav nav-masthead justify-content-left">
                    <a class="nav-link active link" href="/">Home</a>
                    <a class="nav-link active link" href="/band">Bands</a>
                    <a class="nav-link active link" href="/venues">Venues</a>
                </nav>
            </div>
        </header>
        
        
</div>
    <h1>Hello Guest! Please take a look at our list of Venues below</h1>
    <div class="row">
    <div class="card" style="width: 15rem;">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/venues" class="btn btn-primary">See Venues</a>
        </div>
</div>
<div class="card" style="width: 15rem; ">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">SEE BANDS @mdo</button>

        </div>
</div>
<div class="card" style="width: 15rem; ">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/venues/new" class="btn btn-primary">Add Venue</a>
        </div>
</div>
<div class="card" style="width: 15rem; ">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/band/new" class="btn btn-primary">Add Band</a>
        </div>
</div>
</div>
    <h1> Venues</h1>

    <div>
        <table>
            <tr>
                <th>Venue Name</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Maximum Capacity</th>
            </tr>
            <% venuesOnPage.forEach(function(venue){ %>
            <tr>
                <td><a href="/venues/<%=venue._id%>"><%=venue.venueName%></a></td>
                <td><%=venue.address%></td>
                <td><%=venue.phoneNum%></td>
                <td><%=venue.capacity%></td>
                <% if(venue.creator == currentUser){ %>
                <td><a href="/venues/<%=venue._id%>/edit">EDIT This Venue</a></td> 
                <% } %>
            </tr>    
            <%})%>
        </table>

        <p><a href="/venues/new">Add A New Venue</a></p>
    </div>



    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">SEE BANDS @mdo</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/venues" method="POST">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>


<%# <div class="button-box">
        <div class="button-div">
            <div>icon</div>
            <button><a href="/venues">List of Venues</a></button>
        </div>
        <div class="button-div">
            <button><a href="/band">List of Bands</a></button>
        </div>
        <div class="button-div">
            <button><a href="/venues/new">Add New Venue</a></button>
        </div>
        <div class="button-div">
            <button><a href="/band/new">Add New Band</a></button>
        </div>
    </div> %>