<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%- include ../partials/_navbar.ejs%>
    <h1>Venue Information Below</h1>
    <h2>Venue Name: <%= oneVenue.venueName %> </h2>
    <h2>Address: <%= oneVenue.address %> </h2>
    <h2>Phone Number: <%= oneVenue.phoneNum %> </h2>
    <h2>Maximum Capacity: <%= oneVenue.capacity %> </h2>
    <h2>Published By: <%= oneVenue.creator.username %></h2>

    <p><a href="/venues">Go Back Home</a></p>
</body>
</html>